.image_category {
    display: block;
    position: relative;
    width: 130px;
    margin: 10px;
    object-fit: cover;
    height: 90px;
    border-radius: 8px;
    z-index: 1;
}
.c-card{
    border: solid 1px #f2f2f2;
    border-radius: 6px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
.order__page .top-heading h3{
    color: rgb(3, 133, 3);
}

.pro-details{
    border-bottom: 1px dashed gray;
}

.order__page .product img{
    width: 70px;
    height: 70px;
    object-fit: contain ;
}

.order__page .product article h6{
    font-weight: 600;
    margin-bottom: 0px;
}

.order__page .product article small{
    color: gray;
}

.order__page .product article p{
    color: rgb(102, 102, 102);
    font-weight: 900;
}

.order__page .product-price strong{
    font-weight: 900;
}

.order__page .product-price small{
    text-decoration: line-through;
}

.order-details {
    border: 1px solid rgb(215, 215, 215);
}

.order-details li .tp,.order-details li .td{
    font-weight: 600;
    color: rgb(70, 70, 70);
}

.order-details li .dis{
    color: red;
    font-weight: 900;
}

.order-details li .dc{
    color: rgb(6, 209, 255);
    font-weight: 900;
}

.customer-avatar .avatar{
    width: 90px;
    height: 90px;
    background-color: aqua;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.customer-avatar .avatar span{
    font-weight: 600;
    font-size: 45px;
    color: #ffff;
}

.customer-avatar h5{
    font-weight: 800;
    font-size: 20px;
}

.customer-avatar p{
    font-weight: 600;
    color: rgb(0, 0, 172);
    margin-bottom: 0px;
}
.customer-avatar small{
    font-weight: 600;
}
.order__page hr{
    color: gray;
}